.form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 8999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-form {
  z-index: 9999;
  display: block;
  width: 50%;
  height: auto;
  background-color: $background;
  padding: $spacing-medium;
  border-radius: $border-radius-small;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-label {
  font-size: $medium-text-size;
  color: $primary;
  text-align: left;
}

.form-input {
  font-size: $small-text-size;
  text-align: left;
  width: 100%;
  margin-bottom: $spacing-small;
}