<footer>
  <%- include('./logo') %>
  <nav class="footerContent">
    <a href="#">à propos</a>|<a href="#">politique de confidentialité</a>|<a href="#"
      >informations légales</a
    >|
    <a href="#">paramètres de cookies</a>
  </nav>
</footer>
