<footer>
  <%- include('./logo') %>
  <nav class="footerContent">
    <a href="#">à propos</a><span class="hidden">|</span><a href="#">politique de confidentialité</a><span class="hidden">|</span><a href="#">informations légales</a><span class="hidden">|</span><a href="#">paramètres de cookies</a>
  </nav>
</footer>
