<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Page d'accueil de mon site Express avec EJS" />
  <meta name="author" content="François et Naïm" />

  <title>marmiplon</title>

  <!-- CSS principal -->
  <link rel="stylesheet" href="/css/style.css" />
</head>
