<!-- prettier-ignore -->
<%- include('../partials/head') %>
<%- include("../partials/header", title) %>

<main>
  <h1 class="errorTitle"><%= description %></h1>
  <img class="errorImage" src="/images/404.webp" alt="Image d’erreur 404">
</main>

<%- include("../partials/footer") %>
