:root {
  font-size: 10px;
}

$large-text-size: 40px;
$medium-text-size: 24px;
$small-text-size: 16px;
$primary: #f58549;
$secondary: #f2a65a;
$highlight: #585123;
$background: #f0e4bf;
$on-surface: white;
$secondaryOpacity: rgba(242, 166, 90, 0.1);
$tertiary: #fee7db;

body {
  background-color: $background;
  padding: 0%;
  margin: 0%;
  font-family: "Open-sans", sans-serif;
  color: $on-surface;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: min-content;
  padding: 20px;
  background-color: $on-surface;

  .logo {
    // width: 300px;
    font-size: 30px;

    svg {
      width: 46px;
      height: 44px;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: "Playwrite US Modern", sans-serif;
  font-size: 100%;
  line-height: 1;
  padding-top: 1rem;
  font-weight: 500;
  color: $primary;
  margin: 0%;
}

.navBar-container {
  position: relative;
  width: 250px;
  height: 40px;
}

.navBar {
  position: absolute;
  width: 250px; // ou ce que tu veux
  border: 2px solid $primary;
  border-radius: 25px;
  overflow: hidden;
  z-index: 30;

  input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    font-size: 1.5rem;
    color: $primary;
    border: none;
  }

  .menuEl {
    background-color: $on-surface;
    color: $primary;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
  }

  .menuEl:hover {
    background-color: $tertiary;
  }

  input:focus {
    border-color: #f58549; // couleur de la bordure au focus
    outline: none; // enlève le contour bleu par défaut (optionnel)
    background-color: $secondaryOpacity; // exemple, un fond léger différent
    color: $primary; // couleur du texte quand focus
  }

  input::placeholder {
    color: $secondary; // couleur du placeholder
    opacity: 1; // pour s’assurer qu’il soit bien visible
  }

  /* Compatibilité pour Firefox */
  input:-moz-placeholder {
    color: $secondary;
    opacity: 1;
  }

  svg {
    position: absolute;
    right: 15px;
    top: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: $on-surface;
  padding: 20px;

  .logo {
    // width: 250px;
    font-size: 25px;

    svg {
      width: calc(250 / 300 * 46px);
      height: calc(250 / 300 * 44px);
    }
  }
}

.logo-link {
  text-decoration: none;
  cursor: pointer;
}

.footerContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: $primary;
  font-size: 2rem;

  a {
    color: $primary;
    text-decoration: none;
    margin: 0 0.5rem;

    &:hover {
      color: $secondary;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .hidden {
    display: none;
  }
}

.errorTitle {
  font-size: $large-text-size;
  color: $highlight;
}

.errorImage {
  width: 450px;
  height: auto;
  margin: 2rem;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }

  h1 {
    position: absolute;
    top: 0%;
    width: 50%;
    height: 100%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 100;
    font-size: $small-text-size;
  }
}

section {
  margin: 60px 40px;
  padding: 60px;
  background-color: $on-surface;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: $large-text-size;
    color: $highlight;
    margin: 0%;
    text-align: center;
  }
}

.category-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.category-cards a,
.categoryGrid a {
  color: $on-surface;
  text-decoration: none;

  &:visited {
    color: $on-surface;
  }

  &:hover,
  &:focus {
    scale: 1.05;
    text-decoration: underline;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.cardContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h3 {
    font-size: $medium-text-size;
  }

  span {
    font-size: 15px;
    font-family: "Playwrite US Modern", sans-serif;
  }
}

.categoryTitle {
  color: $highlight;
  font-size: $medium-text-size;
}

.categoryGrid {
  display: grid;
  grid-template-columns: fit-content(50%);
  margin: 20px;
  gap: 10px;

  .card {
    width: 1fr;
    height: 1fr;
    max-height: 150px;
  }

  .cardContent {
    align-items: start;
    padding: 15px 0px;
    box-sizing: border-box;
    top: 0%;
    background: rgba(0, 0, 0, 0.2);

    h1 {
      font-size: $medium-text-size;
    }

    h3 {
      margin: 0%;
      margin-bottom: 10px;
    }

    span:not(.note) {
      min-height: 100px;
      margin-top: 15px;
    }
  }

  .cardContent > *:not(.note) {
    margin: 0px 10px;
    width: 80%;
    text-align: left;
  }

  .note {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: min-content;
    height: min-content;
    margin: 0%;
  }
}

.recipeTitle {
  font-size: $large-text-size;
  color: $highlight;
  text-align: center;
}

.recipeContainer,
.recipeTopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 10px;
  background-color: $background;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.recipeImage {
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 1rem;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid $highlight;
  }
}

.recipeIngredients,
.recipeInstructions {
  h2 {
    font-size: $medium-text-size;
    color: $highlight;
    font-variant: small-caps;
  }
}

.commentTitle {
  font-size: $medium-text-size;
  color: $highlight;
  font-variant: small-caps;
}

.ingredientImage {
  width: 50px;
  height: auto;
  box-shadow: 1px 1px 2px 1px rgba($highlight, 0.2);
  margin: 0.3rem;
  border-radius: 10px;
}

.recipeInstructions,
.recipeIngredients {
  display: block;
  text-align: left;
  padding: 0.5rem 1rem;
  background-color: $on-surface;
  border: 2px solid #585123;
  color: $highlight;
  font-size: $small-text-size;
  border-radius: 10px;
  margin: 1rem;
  width: 98%;
  box-sizing: border-box;

  ol {
    font-size: $medium-text-size;
  }

  li {
    padding-bottom: 0.5rem;
  }
}

.commentContainer {
  display: block;
  text-align: left;
  padding: 0.5rem 1rem;
  background-color: $on-surface;
  border: 2px solid #585123;
  color: $highlight;
  font-size: $small-text-size;
  border-radius: 10px;
  margin: 1rem;
  width: 250px;
  height: 200px;
  box-sizing: border-box;
}

.commentButtonContainer {
  width: 100%;
}

.commentButton {
  font-size: $medium-text-size;
  margin-left: 1rem;
  color: $secondary;
  font-weight: bold;
  background-color: $on-surface;
  border: 3px solid $secondary;
  border-radius: 10px;
}

.commentButton:hover {
  background-color: $secondary;
  color: $on-surface;
}

.commentButton:active {
  transform: scale(0.95);
}

.ingredientContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 300px;
}

.recipeComments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.username {
  font-weight: bold;
  margin-bottom: 1rem;
}

.userComment {
  font-style: italic;
}

.commentDate {
  font-style: normal;
}

.userNote {
  font-family: "Playwrite US Modern", sans-serif;
}

@media only screen and (min-width: 600px) {
  .banner {
    h1 {
      font-size: $medium-text-size;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .categoryGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .recipeComments {
    flex-direction: row;
  }

  .recipeTopContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .recipeIngredients {
    width: 50%;
  }

  .recipeTitle {
    padding-left: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .category-cards {
    flex-direction: row;
  }

  .categoryGrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .banner {
    h1 {
      font-size: $large-text-size;
    }
  }

  .footerContent {
    flex-direction: row;

    .hidden {
      display: inline-block;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  .categoryGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
